In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
import pandas as pd
import pandas as pd

archivo = 'C:\\Users\\Haine\\Proyecto 1 abril\\Primer-proyecto---DA\\Dataset\\25174.csv'

df = pd.read_csv(archivo, on_bad_lines='skip', engine='python')  # <-- esta línea crea 'df'
print(df.head(10))  # muestra las primeras 10 filas
df.info()           # muestra info del dataframe

  Comunidades y Ciudades Autónomas;General  \
0                Nacional;General;2024;100
1                Nacional;General;2023;100
2                Nacional;General;2022;100
3                Nacional;General;2021;100
4                Nacional;General;2020;100
5                Nacional;General;2019;100
6                Nacional;General;2018;100
7                Nacional;General;2017;100
8                Nacional;General;2016;100
9                Nacional;General;2015;100

   vivienda nueva y de segunda mano;Periodo;Total
0                                            None
1                                            None
2                                            None
3                                            None
4                                            None
5                                            None
6                                            None
7                                            None
8                                            None
9                                            None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 2 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Comunidades y Ciudades Autónomas;General         816 non-null    object
 1    vivienda nueva y de segunda mano;Periodo;Total  510 non-null    object
dtypes: object(2)
memory usage: 12.9+ KB

In [9]:
df.head(10) # muestra las primeras 10 filas del dataframe
df.info() # información general del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 2 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Comunidades y Ciudades Autónomas;General         816 non-null    object
 1    vivienda nueva y de segunda mano;Periodo;Total  510 non-null    object
dtypes: object(2)
memory usage: 12.9+ KB

In [11]:
df.describe()
df.describe(include='all') # estadisticas descriptivas de todas las columnas

       Comunidades y Ciudades Autónomas\tGeneral, vivienda nueva y de segunda mano\tPeriodo\tTotal
count                                                1020
unique                                               1020
top           19 Melilla\tVivienda segunda mano\t2008\t""
freq                                                    1

In [13]:
df.shape
df.sample(n=min(1000, len(df)))
df = pd.read_csv('C:\\Users\\Haine\\Proyecto 1 abril\\Primer-proyecto---DA\\Dataset\\25171.csv', on_bad_lines='skip')

In [14]:
df.shape
df.sample(30)
df = pd.read_csv('C:\\Users\\Haine\\Proyecto 1 abril\\Primer-proyecto---DA\\Dataset\\25173.csv', on_bad_lines='skip')

In [15]:
df.isna().sum() # cuenta los valores nulos en cada columna
df.isnull().sum() # cuenta los valores nulos en cada columna

Comunidades y Ciudades Autónomas;General                             0
 vivienda nueva y de segunda mano;Índices y tasas;Periodo;Total    144
dtype: int64

In [ ]:
df.columns # muestra los nombres de las columnas del dataframe

Index(['Total Nacional\tComunidades y Ciudades Autónomas\tGeneral', ' vivienda nueva y de segunda mano\tÍndices y tasas\tPeriodo\tTotal'], dtype='object')

In [16]:
df = pd.DataFrame(df) # convierte el dataframe a un dataframe de pandas
df = df.dropna() # elimina las filas con valores nulos

In [17]:
import pandas as pd
df = df.dropna() # elimina las filas con valores nulos
df = df.drop_duplicates() # elimina las filas duplicadas
df = df.reset_index(drop=True) # reinicia el índice del dataframe

In [18]:
df = df.dropna(axis=1) # elimina las columnas con valores nulos

In [19]:
df.to_csv('C:\\Users\\Haine\\Proyecto 1 abril\\Primer-proyecto---DA\\Dataset\\25171.csv', index=False) # guarda el dataframe en un archivo csv sin el índice

In [20]:

df.to_csv('C:\\Users\\Haine\\Proyecto 1 abril\\Primer-proyecto---DA\\Dataset\\25171.csv', index=False) # guarda el dataframe en un archivo csv sin el índice

NameError: name 'df' is not defined